html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	text-align: center;
}

header {
	margin: 50px;
	height: 10%;
	width: 100%;
}

.search_section	{
	height: 10%;
	width: 100%;
}

input {
	height: 50px;
	border: 1px solid;
	border-radius: 8px;
}

#textbar {
	width: 80%;
}

#but {
	width: 10%;
	height: 50px;
}

.icon_section {
	height: 30%;
	width: 100%;
}

.iframe_section{
	height: 30%;
	width: 100%;
}

.tm {
	display: inline-block;
	margin: 5px;
}

figure img {
	width: 30px;
	height: 30px;
}