html {
	font-family: sans-serif ;
}

body {
	text-align: center;
	background-image: url('../pic/background.png');
	background-size: cover;
}

header {
	margin: 100px;
	height: 20%;
}

.search_section	{
	height: 20%;
}

.search_form {
	height: 80px;
}

#form_sc {
	height: 100%;
}

#textbar {
	border: 1px solid;
	border-radius: 10px;
	width: 1000px;
	font-size: 30px;
	height: 100%;
}

#but {
	width: 100px;
	height: 100%;
	border: 1px solid;
	border-radius: 10px;
}

.icon_section {
	height: 30%;
}

.iframe_section{
	height: 30%;
	width: 100%;
}

.tm {
	display: inline-block;
	margin: 5px;
}

figure img {
	width: 100px;
	height: 100px;
	background: white;
	border-radius: 8px;
	border: 3px solid white;
}

figcaption {
	position: relative;
	font-size: 20px;
	top: 2px;
}

iframe {
	width: 1000px;
	height: 700px;
}