body {
    text-align: center;
}

.info {
    display: inline-block;
    width: 350px;
    height: 150px;
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
}

.move {
    width: 100px;
    height: 60px;
}